refer{color:
  #f57316
  #F0FFF0
  #0E0E10
}
@font-face {
  font-family: Greto ;
  src: url(Fonts/GretosFontRegular.ttf);
}
@font-face {
  font-family: Frank ;
  src: url(Fonts/FranckerFontMedium.ttf);
}
@font-face {
  font-family: Agenc ;
  src: url(Fonts/AgencyFontRegular.ttf);
}
@font-face {
  font-family: Lemon ;
  src: url(Fonts/LemonteaRegular.ttf);
}
@font-face {
  font-family: Optin ;
  src: url(Fonts/OptienRegular.ttf);
}
@font-face {
  font-family: Teeko ;
  src: url(Fonts/TekoRegular.ttf);
}
@font-face {
  font-family: Evore ;
  src: url(Fonts/EvoreRegular.otf);
}
@font-face {
  font-family: Arkey ;
  src: url(Fonts/ArkeyRegular.ttf);
}
@font-face {
  font-family: Poppo ;
  src: url(Fonts/PoppinsRegular.ttf);
}
