refer{color:
    #f57316
    #F0FFF0
    #0E0E10
}
*{
    box-sizing: border-box;
}
body{
    background-color: #2e3138;
    
    
}
body::-webkit-scrollbar{
    width: 0px;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #f57316;
    border-radius: 10px;
}
.loading img{
    position: absolute;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.loading::after{
    content: "";
    position: absolute;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: infinite spin 3s linear;
    animation-name: clrtb;
    z-index: -1;
}
.banner{
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 565px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.banner::after{
    content: "";
    position: absolute;
    width: 250px;
    height: 400px;
    background-color: #f57316;
    transform: rotate(45deg);
    top: -150px;
    left: -200px;
}
.banner::before{
    content: "";
    position: absolute;
    width: 250px;
    height: 400px;
    background-color: #f57316;
    transform: rotate(45deg);
    bottom:-150px;
    right: -100px;
}
.gif-of-banner{
    width: 500px;
}
.title-of-main-banner{
    color: #2e3138;
    font-family: greto;
    font-size: 20px;
    margin-right: 10%;
    margin-left: 10%;
    letter-spacing: 2px;
    font-weight: lighter;
}
.description-of-main-banner{
    color: #2e3138;
    font-family: greto;
    font-size: 10px;
    font-weight: lighter;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 80px;
}
.style-text-saffron{
    color: #f57316;
}
.get-it-on-windows{
    position: absolute;
    bottom: 20%;
    right: 27%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.get-it-on-windows:last-child{
    right: 12%;
}
.patch-notes{
    position: absolute;
    top: 1550px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: greto;
    font-weight: lighter;
    color: #F0FFF0;
    border: 2px dashed #f57316;
    box-shadow: 10px 10px 5px #f57316;
    width: 350px;
    overflow: hidden;
    border-radius: 40px 0px;
    left: 0;
    right: 0;
    margin: auto;
    height: 550px;
    letter-spacing: 1px;
    margin-top: 480px;
}
.patch-notes table td{
    position: relative;
    margin-top: 40px;
    padding: 5px;
    display:table;
}
.patch-notes table tr td::after{
    content: "";
    width: 5px;
    height: 100%;
    border-radius: 1px;
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #f57316;
}
.valuebox{
    background-color: #f57316;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 25px;
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.title-of-patch-notes{
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #f57316;
    border-radius: 10px;
    width: 50%;
    height: 4px;
}
.paragraph-of-patch-notes-pc{
    font-family: greto;
    position: absolute;
    right: 0;
    font-weight: lighter;
    margin-right: 5%;
    font-size: 20PX;
    margin-bottom: 15%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
}
.version-of-patch-notes{
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: greto;
    font-weight: lighter;
    color: #F0FFF0;
    right: 0;
    left: 0;
    margin: auto;
    width: 40%;
    padding: 20px;
    border: 2px dashed #F0FFF0;
    border-radius: 40px 0px;
    letter-spacing: 1px;
    font-style: italic;
}
/*.youtube-video-promotion{
    position: absolute;
    top: 1850px ;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 220PX;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.youtube-video-promotion iframe{
    width: 100%;
    height: 100%;
}*/
