refer{color:
    #f57316
    #F0FFF0
    #0E0E10
}
.header{
    position: fixed;
    top: 0;
    background-color: #0e0e105b;
    width: 100%;
    height: 100px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.logo-mb , .logo-pc{
    position: absolute;
    width: 120px;
    left: 5%;   
}

.search-box::placeholder{
    position: absolute;
    margin-left: 50px;
}

.menu-ft{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #F0FFF0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    margin: auto;
    margin-right: 30px;
    cursor: pointer;
    border-radius: 5px;
}
.menu-ft ul{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #F0FFF0;
    position: absolute;
    left: 0;
    right: 100px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 900px;
    height: 420px;
    text-align: center;
    margin-top: 70px;
    margin-right: -317px;
    visibility: hidden;
    z-index: 5;
    transition: all 0.3s linear;
}
.menu-ft ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-ft ul li a{
    font-family: greto;
    letter-spacing: 2px;
    color: #2e3138;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    transition: all 0.3s linear;
}
.menu-ft ul li a::after{
    content: "";
    width: 0%;
    height: 5px;
    border-radius: 10px;
    left: 0;
    right: 0;
    position: relative;
    overflow: hidden;
    bottom: -20px;
    background-color: #f57316;
    transition: all 0.3s linear;
}
.menu-ft ul li a:hover::after{
    width: 100%;
}
.menu-ft ul li a:hover{
    color: #f57316;
    
}
.menu-ft i{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
}
.menu-ft i:hover{

    ul{
        visibility: visible;
        display: inline-block;
    }
    :last-child{
        visibility: visible;
    }
}
.menu-ft i:last-child{
    visibility: hidden;
}
.menu-ft i:hover:last-child{
    visibility: visible;
}
.search-ft{
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-ft i{
    color: #F0FFF0;
    position: absolute;
    right: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s linear;
}
.search-ft i:hover{
    .search-bgft{
        visibility: visible;
        transition: all 0.3s linear;
    }
}
.search-bgft{
    position: fixed;
    background-color: #000000be;
    width: 100%;
    height: 70%;
    left: 0;
    right: 0;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 5;
    transition: all 0.3s linear;
}
.search-box{
    position: absolute;
    padding: 25px;
    background: none;
    border: 1px solid #f57316;
    box-shadow: 1px 1px 30px #f57316;
    border-radius: 10px;
    transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.search-box:hover{
    background-color: #F0FFF0;
    border: none ;
}
.search-box::placeholder{
    color: #F0FFF0;
}
