refer{color:
    #f57316
    #F0FFF0
    #0E0E10
}
.container{
    position: absolute;
    top: 1550px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 1950px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-of-list{
    font-family: greto;
    font-weight: lighter;
    color: #F0FFF0;
    background-color: #f57316;
    width: 250px;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
    letter-spacing: 2px;
    border-radius: 2px;
    transform: skew(-20deg);
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;
}
.line-of-list{
    width: 95%; 
    height: 450px;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
}
.title-of-list:last-child{
    margin-top: 40px;
}
.line-of-list:last-child{
    margin-top: 500px;
}
.content-box{
    position: absolute;
    width: 350px;
    height: 350px;
    top:55px;
    left: 10px;
    background-color: #3a404a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.content-box::after{
    position: absolute;
    right: -75px;
    bottom: -75px;
    background-color: #f57316;
    width: 150px;
    height: 150px;
    content: "";
    transform:rotate(45deg);
    box-shadow: 1px 0px 150px #0E0E10;
}
.content-box:hover{
    transform: translate(0px, -15px);
    
    .icon-query{
        transform: translate(0px, 150px )rotate(180deg);
        transition: all 2s ease-in-out;
;
    }
    .content-box::after{
        content: "";
        top: 0;
        left: 0;
    }
}
.heading-of-content-box{
    font-family: greto;
    font-weight: lighter;
    color: #F0FFF0;
    position: absolute;
    top: 0;
    font-size: large;
    letter-spacing: 1px;
}
.heading-of-content-box::after{
    content: "";
    width: 60%;
    height: 3px;
    background-color: #f57316;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
}
.image-of-the-content-box{
    position: absolute;
    width: 50%;
    border-radius: 10px;   
}
.link-of-the-content-box{
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    background-color: #f57316;
    padding: 10px;
    border-radius: 5px;
    color: #F0FFF0;
    font-family: greto;
    font-weight: lighter;
    letter-spacing: 1px;
    width: 120px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.link-of-the-content-box::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}
.link-of-the-content-box:hover::after{
    width: 100%;
}
.link-of-the-content-box:hover{
    color: #f57316;
    z-index: 1;
    width: 150px;
    background: none;
    border: 1px solid;
    box-shadow: 1px 1px 15px #f57316;
}
.icon-query{
    position: absolute;
    right: 15px;
    bottom: 8px;
    z-index: 2;
    transition: all 2s ease-in-out ;
    i{
        color: #F0FFF0;
        background-color: none;
        border: px solid
        #F0FFF0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
.line-of-list{
    overflow-x: scroll;
    overflow-y: hidden;
}
.line-of-list::-webkit-scrollbar{
    height: 10px;
    background-color: #F0FFF0;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    scrollbar-width: thin;
}
.line-of-list::-webkit-scrollbar-thumb{
    background-color: #f57316;
    border-radius: 10px;

}
.promo{
    position: fixed;
    bottom: 90px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0FFF0;
    border-radius: 15px;
    height: 45px;
}
.link-of-promo-email{
    background-color: #f57316;
    color: #F0FFF0;
    padding: 5px;
    width: 45%;
    position: absolute;
    left: 40px;
    text-align: center;
    text-decoration: none;
    font-family: greto;
    font-weight: lighter;
    letter-spacing: 1px;
    border-radius: 15px;
}
.social-media-on-promo{
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.promo a{
    text-decoration: none;

}
.link-of-social-media-promo{
    text-decoration: none;
}
.footer{
    width: 100%;
    background-color: #0e0e10;
    height: 80px;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.footer-paragraph{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-family: greto;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size:7px;
    margin-right: 50px;
    margin-left: 50px;
    color: #F0FFF0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.webxneo-footer-style{
    color: #f57316;
}
/* CONTACT PAGE STYLE STARTS HERE */
.contact-box{
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1200px;
    background-color: rgb(8, 7, 15);
    overflow: hidden;
}
.title-of-contact-box h3{
    position: absolute;
    color: #F0FFF0;
    font-family: greto;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 120px;
    width: 280px;
    margin: auto;
}
.title-of-contact-box h3::after{
    content: "";
    background-color: #f57316;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-radius: 15px;
}
.list-of-contacts{
    position: absolute;
    top: 200px;
    width: 80%;
    height: 580px;
      background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: row;
}
.contact-dgbox{
    position: absolute;
    background-color: #36363d;
    width: 180px;
    height: 140px;
    display: flex;
    margin-right: 15px;
    left: 0;
    right: 0;
    margin: auto;
    top: 30px;
    margin-bottom: 50px; 
    i{ 
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        margin-right: 20px;
        cursor: pointer;
        position: absolute;
        left: 30px;
        top: 20px;
        transition: all 0.5s linear;
    }
}
.contact-dgbox:nth-child(1){
    margin-left: 290px;
}
.contact-dgbox:nth-child(2){
    margin-right: 60px;
}
.contact-dgbox:nth-child(3){
    margin-left:60px;
}
.contact-dgbox:nth-child(4){
    margin-right: 290px;
}
.contact-dgbox h5{
    display: flex;
    position: absolute;
    gap: 10px;
    color: #F0FFF0;
    bottom: 20px;
    font-family: arkey;
    font-weight: lighter;
    letter-spacing: 1px;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.content-dgbox:hover{
    transform: translate(0px, -15px);
}
.contact-form-online{
    position: absolute;
    top: 180px;
    width: 100%;
    height: 100%;

}
.contact-form-interactable{
    position: absolute;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items:start;
    left: 80px;
    right: 0;
    margin: auto;
    gap: 20px;
    margin-top: 80px;
    flex-direction: column;
    color: #F0FFF0;
    font-family: poppo;

    input{
        background-color: #36363d;
        border: none;
        padding: 15px;
        color: #F0FFF0;
    }
    select{
        background-color: #36363d;
        border: none;
        padding: 15px;
        color: #F0FFF0;
    }
    input[type="checkbox"] {
        transform: scale(2);
        background-color: #36363d;
        border: none;
        padding: 15px;
        color: #F0FFF0;
        margin-left: 5px;
      }
      button{
        position: absolute;
        left: 0;
        width: 150px;
        bottom: -60px;
        right: 0;
        margin: auto;
        height: 50px;
        background-color: #f57316;
        border: none;
        border-radius: 5PX;
        font-family: greto;
        font-weight: lighter;
        color: #F0FFF0;
        letter-spacing: 2px;
        font-size: 17px;
      }
}
.contact-form-interactable{

}
