refer{color:
    #f57316
    #F0FFF0
    #0E0E10
}
.title-of-list{
    font-family: greto;
    font-weight: lighter;
    color: #F0FFF0;
    background-color: #f57316;
    width: 250px;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
    letter-spacing: 2px;
    border-radius: 2px;
    transform: skew(-20deg);
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;
    

}
.line-of-list{
    width: 95%;
    height: 450px;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
}
.content-box{
    position: absolute;
    width: 350px;
    height: 350px;
    top:55px;
    left: 10px;
    background-color: #3a404a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    
}
.content-box::after{
    position: absolute;
    right: -75px;
    bottom: -75px;
    background-color: #f57316;
    width: 150px;
    height: 150px;
    content: "";
    transform:rotate(45deg);
    box-shadow: 1px 0px 150px #0E0E10;
}
.content-box:hover{
    transform: translate(0px, -15px);
    
    .icon-query{
        transform: translate(0px, 150px )rotate(180deg);
        transition: all 2s ease-in-out;
;
    }
    .content-box::after{
        content: "";
        top: 0;
        left: 0;
    }
}
.heading-of-content-box{
    font-family: greto;
    font-weight: lighter;
    color: #F0FFF0;
    position: absolute;
    top: 0;
    font-size: large;
    letter-spacing: 1px;
}
.heading-of-content-box::after{
    content: "";
    width: 60%;
    height: 3px;
    background-color: #f57316;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
}
.image-of-the-content-box{
    position: absolute;
    width: 50%;
    border-radius: 10px;   
}
.link-of-the-content-box{
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    background-color: #f57316;
    padding: 10px;
    border-radius: 10px;
    color: #F0FFF0;
    font-family: greto;
    font-weight: lighter;
    letter-spacing: 1px;
    width: 100px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.link-of-the-content-box::after{
    position: absolute;
    content: "";
    background-color: #F0FFF0;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}
.link-of-the-content-box:hover::after{
    width: 100%;
}
.link-of-the-content-box:hover{
    color: #f57316;
    z-index: 1;
    width: 150px;
    transform: skew(-5deg);

}
.icon-query{
    position: absolute;
    right: 15px;
    bottom: 8px;
    z-index: 2;
    transition: all 2s ease-in-out ;
    i{
        color: #F0FFF0;
        background-color: none;
        border: px solid
        #F0FFF0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
.line-of-list{
    overflow-x: scroll;
    overflow-y: hidden;
}
.line-of-list::-webkit-scrollbar{
    height: 10px;
    background-color: #F0FFF0;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    scrollbar-width: thin;
}
.line-of-list::-webkit-scrollbar-thumb{
    background-color: #f57316;
    border-radius: 10px;

}
.promo{
    position: fixed;
    bottom: 90px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0FFF0;
    border-radius: 15px;
    height: 45px;
}
.link-of-promo-email{
    background-color: #f57316;
    color: #F0FFF0;
    padding: 5px;
    width: 45%;
    position: absolute;
    left: 40px;
    text-align: center;
    text-decoration: none;
    font-family: greto;
    font-weight: lighter;
    letter-spacing: 1px;
    border-radius: 15px;
}
.social-media-on-promo{
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.promo a{
    text-decoration: none;

}
.link-of-social-media-promo{
    text-decoration: none;
}
.footer{
    width: 100%;
    background-color: #0e0e105b;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.footer-paragraph{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-family: greto;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size:7px;
    margin-right: 50px;
    margin-left: 50px;
    color: #F0FFF0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.webxneo-footer-style{
    color: #f57316;
}